/* NAIDEN'S CHANGES */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ul-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;

}
a {
    color: black;
    font-size: 1.1em;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:hover {
    color: white;
    transition: 0.1s ease-in-out;
}
.header-element {
    background-color: antiquewhite;
    padding: 2rem;
    opacity: 60%;
}
.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    padding: 2rem;
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pi-img {
    border-radius: 6px;
    box-shadow: 2px 2px 1px 1px black;
}
.maps-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: mistyrose;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.map-1,
.map-2 {
    text-align: center;
    padding: 2rem;
}
