<<<<<<< HEAD
#lauraM {
    background-color: blue;
}


=======
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

#annarita {
    background-color:#50223C;
    color: #f0dac5;
    font-family:'Kanit', sans-serif;
    }
>>>>>>> f51627cb974565e4939ea1017df99391dcb76eb2
